<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bypass Detected</title>
  </head>
  <body>
    <h1>Bypass Detected</h1>
    <p>
      Look, we gotta make some revenue. People like you are taking revenue from
      us. Please be honest and pass the key system correcly.
    </p>
  </body>
</html>
