<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Already completed</title>
  </head>
  <body>
    <h1>Key system already completed</h1>
    <p>You already completed the key system</p>
    <p>In case you forgot, here is your key: <%- key %></p>
  </body>
</html>
