<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error | WabzIsALegend</title>
  </head>
  <body>
    <h1>An error occured</h1>
    <p>Not sure what happened, but there is an error</p>
  </body>
</html>
