<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KeySys Completed | WabzIsALegend</title>
  </head>
  <body>
    <h1>KeySys Completed</h1>
    <p>Look at my totally beautiful html code</p>
    <p>Your key is: <%- key %></p>
  </body>
</html>
