<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>No Key</title>
  </head>
  <body>
    <h1>No key associated with your IP</h1>
    <p>There is no key associated to your IP, generate one in your app.</p>
  </body>
</html>
